{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block css %}
    {% render_bundle 'styles' 'css' %}
    {% endblock %}

    <title>Emissão de Pedidos</title>
</head>

<body>
    <div id="root"></div>

    {% block extra_js %}
    {% render_bundle 'dashboard' 'js' %}
    {% endblock %}
</body>

</html>
